name: Docker Build & Push with SemVer

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  docker:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Get next version
        id: version
        uses: reecetech/version-increment@2024.10.1
        with:
          scheme: semver
          increment: patch
      
      - name: Determine Docker tags
        id: tags
        run: |
          echo "TAG=v${{ steps.version.outputs.version }}" >> $GITHUB_ENV
          TAGS="ghcr.io/${GITHUB_REPOSITORY}:${TAG}"
          if [ "${{ github.event_name }}" = "push" ]; then
            TAGS="$TAGS,ghcr.io/${GITHUB_REPOSITORY}:latest"
          fi
          echo "TAGS=$TAGS" >> $GITHUB_ENV


      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.TAGS }}
          cache-from: type=registry,ref=ghcr.io/${{ github.repository }}:${{ env.TAG }}
          cache-to: type=inline

